<!DOCTYPE html>
<html>
    <body>
        <form action="/articles" method="POST">

        <p>Title: <input type="text" id="title" name="article[title]"></p>
        <p>Content: <input type="text" id="content" name="article[content]"></p>
        <input type="submit" value="Submit">
        </form>
    </body>

</html>